body {
  background-color: #5e8c61;
  background-image: url("/img/pattern.png");
  background-repeat: repeat-x;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 100;
}

#body--jp {
  font-family: "YuGothic";
}

button:focus {
  outline: 0;
}

nav {
  background-color: rgba(94, 140, 97, 0.75);
}

.nav__link {
  color: white;
}

.nav__link:hover {
  color: gainsboro;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
  color: #5e8c61;
}

.navbar-toggler {
  border: 0;
  color: white;
}

.effect__fade-in {
  visibility: hidden;
}

.effect__slide-up {
  position: relative;
  bottom: -50%;
}

.effect__appear {
  opacity: 0;
  position: relative;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section--main {
  padding-top: 75px;
  padding-bottom: 10px;
  color: white;
}

.section--white {
  background-color: white;
  color: #5e8c61;
}

.section--green {
  background: linear-gradient(0deg, #5e8c61, #78b07b);
  color: white;
}

.section--centered {
  text-align: center;
}

.section__title {
  text-align: center;
  margin-bottom: 25px;
}

.section__icon {
  background: linear-gradient(-45deg, #5e8c61 50%, #6b9f6e 50%);
  border-radius: 10px;
  color: white;
}

.section__text {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1;
}

.section__text--small {
  font-size: x-small;
}

.section__logo {
  max-width: 100%;
}

.section__image {
  max-width: initial;
  width: 100%;
}

.section__image--centered {
  text-align: center;
}

.section__link--underline {
  text-decoration: underline;
}

.section__link--white {
  color: white;
}

.section__link--white:hover {
  color: gainsboro;
  text-decoration: none;
}

.section__link--green {
  color: #5e8c61;
}

.section__link--green:hover {
  color: darkgreen;
  text-decoration: none;
}

.section__description {
  padding-top: 10px;
}

.section__catch {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: 100;
}

.section__catch--jp {
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 300;
}

.section__portfolio__title a {
  color: white;
  text-decoration: none;
}

.section__portfolio__title a:hover {
  color: gainsboro;
  text-decoration: none;
}

.section__button--red {
  pointer-events: none;
  background-color: rgb(141, 45, 33);
  color:white;
}

.section__button--red:hover {
  background-color: rgb(119, 37, 27);
}

.section__button--dark-blue {
  pointer-events: none;
  background-color: rgb(37, 73, 173);
  color:white;
}

.section__button--dark-blue:hover {
  background-color: rgb(32, 58, 131);
}

.section__button--purple {
  pointer-events: none;
  background-color: #6e498d;
  color:white;
}

.section__button--purple:hover {
  background-color: #512f6b;
}

.section__button--orange {
  pointer-events: none;
  background-color: #BA5A31;
  color:white;
}

.section__button--orange:hover {
  background-color: rgb(161, 79, 43);
}

.dropdown-menu {
  border: 0;
  background-color: #78b07b;
  left: -300%;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #699b6c;
  color:white;
}

.dropdown-item.active {
  background-color: #5e8c61;
}

.navbar-collapse {
  flex-grow: 0;
}