body {
  background-color: #5e8c61;
  background-image: url("/img/pattern.png");
  background-repeat: repeat-x;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 100;
}

button:focus {
  outline: 0;
}

nav {
  background-color: rgba(94, 140, 97, 0.75);
}

.nav__link {
  color: white;
}

.nav__link:hover {
  color: gainsboro;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
  color: #5e8c61;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.effect__fade-in {
  visibility: hidden;
}

.effect__slide-up {
  position: relative;
  bottom: -50%;
}

.effect__appear {
  opacity: 0;
  position: relative;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section--main {
  padding-top: 75px;
  padding-bottom: 10px;
  color: white;
}

.section--white {
  background-color: white;
  color: #5e8c61;
}

.section--green {
  background: linear-gradient(0deg, #5e8c61, #78b07b);
  color: white;
}

.section--centered {
  text-align: center;
}

.section__title {
  text-align: center;
  margin-bottom: 25px;
}

.section__icon {
  background: linear-gradient(-45deg, #5e8c61 50%, #6b9f6e 50%);
  border-radius: 10px;
  color: white;
}

.section__text {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1;
}

.section__text--small {
  font-size: x-small;
}

.section__logo {
  max-width: 100%;
}

.section__image {
  max-width: initial;
  width: 100%;
}

.section__image--centered {
  text-align: center;
}

.section__link--underline {
  text-decoration: underline;
}

.section__link--white {
  color: white;
}

.section__link--white:hover {
  color: gainsboro;
  text-decoration: none;
}

.section__link--green {
  color: #5e8c61;
}

.section__link--green:hover {
  color: darkgreen;
  text-decoration: none;
}

.section__description {
  padding-top: 10px;
}

.section__catch {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: 100;
}

.section__portfolio__title a {
  color: white;
  text-decoration: none;
}

.section__portfolio__title a:hover {
  color: gainsboro;
  text-decoration: none;
}
