body {
  background: radial-gradient(rgba(63, 63, 63, 0.8), rgb(19, 19, 19)),
    url("/portfolio/dentist/img/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Merriweather", serif;
  height: 100vh;
}

a {
  color: white;
  font-family: "Patua One", cursive;
}

a:hover {
  color: rgb(212, 212, 212);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
