html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: black;
  font-family: "Merriweather", serif;
}

a {
  color: black;
}

a:hover {
  color: rgb(212, 212, 212);
  text-decoration: none;
}

.navbar a {
  color: white;
  font-family: "Patua One", cursive;
}

.navbar a:hover {
  color: rgb(212, 212, 212);
}

.navbar {
  background-color: rgb(0, 0, 0);
}

.nav__link--active {
  text-decoration: underline;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.content__title {
  border-bottom: 1px solid black;
}

.content__image {
  width: 100%;
}

.content__image_holder {
  border-bottom: 1px dashed black;
}

.shadow {
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.map {
  width: 100%;
  height: 350px;
  border: 0;
}

@media only screen and (min-width: 992px) {
  .border-lg-left {
    border-left: 1px dashed black;
  }

  .border-lg-right {
    border-right: 1px dashed black;
  }
}

@media only screen and (max-width: 992px) {
  .border-md-left {
    border-left: 1px dashed black;
  }

  .border-md-right {
    border-right: 1px dashed black;
  }

  .border-md-top {
    border-top: 1px dashed black;
  }

  .border-md-bottom {
    border-bottom: 1px dashed black;
  }
}

@media only screen and (max-width: 768px) {
  .border-sm-top {
    border-top: 1px dashed black;
  }

  .border-sm-bottom {
    border-bottom: 1px dashed black;
  }
}

#container {
  min-height: 100%;
  position: relative;
}

#body {
  padding-bottom: 40px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px; 
}