body {
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    white 50%,
    #fcedef 50%,
    #ffcad4 100%
  );
  color: rgba(163, 22, 69, 1);
  transition: background-position 2s;
}
nav {
  background-color: rgba(253, 214, 221, 0.9);
}
a {
  color: rgba(163, 22, 69, 1);
}
a:hover {
  color: rgb(209, 50, 103);
  text-decoration: none;
}
a {
  outline: none;
}
button:focus {
  outline: 0;
}
.navbar-toggler {
  border: 0;
  outline: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(163,22,69, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar__logo {
  min-height: 30px;
  max-height: 50px;
}
.section--main {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 40%, white 40%);
  left: -100%;
  position: relative;
  transition: left 2s 1s;
  margin-right: 20%;
  padding-top: 50px;
}
.section--content {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}
.section--content--left {
  background-color: white;
  color: rgba(163, 22, 69, 1);
}
.section--main__image {
  width: 240px;
  opacity: 0;
  transition: opacity 3s 2s;
}
.section--main__background {
  position: absolute;
  top: 40%;
  left: -50%;
  width: 455px;
  z-index: -1;
}
.section--content__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section--content__list--right {
  float: right;
}
.section--content__map {
  display: block;
  width: 100%;
  height: 25%;
  border: none;
}
.section--content__photo-container {
  visibility: hidden;
  transition: box-shadow 1s;
}
.section--content__photo-container:hover {
  box-shadow: 0px 0px 20px 5px #ffcad4;
}
.section--content__photo {
  min-height: 201px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-size: cover;
}
.overlay__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
}
.overlay__title:hover {
  opacity: 0;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar__icon {
  margin-left: 5px;
  margin-top: 3px;
}
.navbar__icon--facebook:hover {
  color: #3b5998;
}
.navbar__icon--instagram:hover {
  color: #e95950;
}
.navbar__icon--twitter:hover {
  color: #55acee;
}
.modal__picture {
  width: 100%;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 2;
  color: white;
}
.section--content__profile {
  margin-bottom: 5px;
  width: 200px;
  clip-path: circle(80px at center);
}
.section--content__profile__overlay {
  position: absolute;
  background: linear-gradient(-45deg, #ffdfe5 50%, white 50%);
  opacity: 0.9;
  width: 200px;
  height: 200px;
  clip-path: circle(80px at center);
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  transition: all 1s;
}
.section--content__profile__overlay:hover {
  opacity: 0;
  transform: rotate(180deg);
}
.section--content__role {
  position: relative;
  top: -20px;
}
.effect__appear {
  opacity: 0;
  position: relative;
}
.effect__appear--center {
  transition: opacity 2s;
}